SECRET_KEY=change-me-to-something-random-and-long
DATABASE_URL=sqlite:///web/rheti.db

MAIL_SERVER=mail.nthmost.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=rheti@nthmost.com
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=rheti@nthmost.com
